agm-map {
  height: 300px;
}
.numero_par {
	background-color: aliceblue;
	color: blue;
}

.padding {
	padding: 10px;
	margin-bottom: 10px;
}

#cuadrado {
	width: 200px;
	height: 200px;
	background-color: red;
}