<!-- Directives -->

<ul>
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">{{ lugar.nombre }}</li>
  </ng-container>
</ul>


<ul>
  <ng-container *ngFor="let lugar of lugares; let i = index">
    <li [ngStyle]="{color: (lugar.active)? 'black': 'grey'}" [ngClass]="{numero_par: (i+1) % 2 !== 0 }">{{ lugar.nombre }}</li>
  </ng-container>
</ul>

<br>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>